html {
  font-size: 18px;
}


body {
  font-family: "Helvetica" sans-serif;
  line-height: 1.4;
}


/* header */

header {
  background-color: black;
  color: white;
}

header .container {
  display: flex;
  align-items: center;
}

header .container {
  display: flex;
  padding: .66rem 0 .66rem 0.5rem;
  align-items: center;
}

.container {
  margin: 0 auto;
  max-width: 960px;

}

header img {
  height: 1.5rem;
  padding-right: 1rem;
}

/* Main Banner */

.banner {
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  background-position: center;
  height: 25rem;

}

.main_container {
  max-width: 960px;
  margin: 0 auto;
}

.title_card {
  position: relative;
  top: 9rem;
  width: 20rem;
  padding: 2rem 3rem;
  background-color: black;
  color: white;
}

.title_card h1 {
  margin: 0.25rem 0;
  font-size: 2rem;
  line-height: 1.2;
}

/* Nav */

nav {
  background-color: firebrick;
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
}

.nav_bar {
  margin-top: 0;
  max-width: 960px;
  margin: 0 auto;
}

ul li {
  list-style: none;
}

/*main */

.products {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.product {
  width: 30%;
}

.product_images {
  display: flex;
  justify-content: center;
  height: 9rem;
  border: 4px solid black;
}

.product span {
  display: block;
  padding: 0.5rem;
  background-color: black;
  text-align: center;
  color: white;

}

.product_watch {
  display: flex;
  justify-content: center;
  height: 9rem;
  border: 4px solid black;
}

.product_glasses {
  display: flex;
  justify-content: center;
  height: 9rem;
  border: 4px solid black;
}

/* buisness info */

.buisness {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.info {
  width: 35%;
}

.title {
  display: block;
  padding: 1rem 2rem;
  background-color: black;
  color: white;
}

/* footer */

footer {
  padding: 5rem 0;
  padding-top: 4rem;
  background-color: black;
  color: white;
  display: flex;
}
